.totalNumbers {
  font-size: 72px;
  font-style: italic;
  font-family: serif;
  font-weight: bold;
  color: #f6bc56;
}
.regionNumbers {
  color: #f6bc56;
}
.majalisTitle {
  font-size: 48px;
  text-decoration: underline #6DC19B 4px;
  -webkit-text-decoration-line: underline #6DC19B 4px;
  text-decoration-line: underline ;
  text-decoration-color: #6DC19B ;
  padding-bottom: 4px;
}
