.tr > th, .tr > td {
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    padding: 4px;
}

.tr {
    vertical-align: top;
    border-bottom: 2px solid grey;
    font-size: 14px;
}

